@import url('https://fonts.cdnfonts.com/css/gang-of-three');


* {
    font-family: 'Gang of Three';
}

html {
    /* font-family: 'Electroharmonix', sans-serif; */
    background-image: url(images/1276272_3_1920x929.jpg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.inputCont {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    color: whitesmoke;
}

.inputCont button {
    margin: 10px auto;
}




#study {
    margin-bottom: 10px;
    margin-left: 20px;
}

#pause {
    margin-bottom: 20px;
    margin-left: 20px;
}

.videos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    display: flex;
    /* flex-direction: column; */
}

.videos iframe:nth-child(2) {
    margin-left: 20px;
}

.container {

    width: fit-content;
    height: fit-content;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(11, 23, 34, 0.308);
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* filter: blur(3px); */
}

.container button:first-child{
    margin-left: 0;
}

.time {
    /* background-color: rgba(11, 23, 34, 0.308); */
    font-size: 200px;
    color: white;
}

button {
    margin-left: 20px;
    width: 200px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

/* #pause {
    display: flex;
} */

.glow-on-hover {
    width: 220px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.inputCont input {
    width: 40px;
    height: 30px;
    padding-left: 15px;
    font-size: 17px;
}

.btns {
    visibility: hidden;
    display: flex;

}

#playBtn {
    display: none;
}

@media (max-width: 576px) {
    html {
        
        background-image: url(images/suzume-wallpapers-24.jpg);
        
    }
    .inputCont {
        margin: 50px auto;
        width: fit-content;
    }

    .time {
        /* background-color: rgba(11, 23, 34, 0.308); */
        font-size: 100px;
        
    }

    button {
        max-width: 180px;
    }

    .videos {
        flex-direction: column;
    }

    .videos iframe {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .videos iframe:nth-child(2) {
        margin-left: 0;
    }

}